mixin brand-name(classes)
  a.brand(title="Relentless Development" class=classes href="http://www.relentless-development.com" rel="self") 
    | Relentless Development
    span.brand-subline relentless thoughts on software development, software architecture and related stuff
