mixin brand-name(classes)
  .brand(title="Relentless Development" class=classes) 
    | Relentless Development
    span.brand-subline relentless thoughts on software development, software architecture and related stuff
