include ../../tmp/post_include_mixins.jade
include ../helper/post_helper.jade
include ../helper/brand_helper.jade
include ../helper/nav.jade

extends ./frame.jade

block body
  +main-nav("posts")
  
  .hero-banner-page
    main.rlb-content.hero-banner-content(id="rlb-main")
      +brand-name()
      section.posts
        section.post-view

          block content
          
      include footer.jade

  
    // BG image from https://unsplash.com/photos/8mqOw4DBBSg
    header.hero-banner(
      style="background-image: url(assets/images/landscape.jpg); background-image: -webkit-image-set(url('assets/images/landscape.jpg') 1x, url('assets/images/landscape-2x.jpg') 2x);"
    )
      +brand-name('in-hero-banner')
      .hero-banner-message
        h1.headline-primary some thoughts on software development,<br> software architecture<br> and related stuff
        p.headline-sub by Falk Hoppe
        a.btn.btn-primary.hero-banner-call2action(href="#rlb-main") read
