@require './_nav-*'

.nav
  position fixed
  top 0
  bottom 0
  left 100%
  background-color #fff
  width 100%
  z-index 999
  -webkit-transform-style preserve-3d
  -webkit-overflow-scrolling touch

  &.active
    animation: nav-slide 0.2s forwards;

.nav-close, .nav-toggle, .nav-rss, .nav-twitter
  position absolute
  border none
  outline none

.nav
  .nav-rss, .nav-twitter
    top 3rem
    width 3rem
    right 100%
    // padding-right 1.2rem
    background-color transparent
    color #fff
    text-align center
    padding-top 1.5rem
    padding-bottom .5rem

    &.tooltip:hover:after
      right 80%

    &:hover
      color link-hover
      text-decoration none

  .nav-twitter
    top 4.5rem

    &:hover
      color twitter-blue

.nav-close
  top 1rem
  right 1rem
  background-color transparent

.nav-toggle
  right 100%
  top 0
  width 3rem
  height 3rem
  background-color pearl-white
  color #000

  &:after
    content: 'menu'
    position absolute
    top 50%
    right 110%
    transform translateY(-50%)
    color pearl-white
    ft-montserrat()
    font-weight bold
    // font-size .6rem

  &:hover:after
    color link-hover
